* {
	text-align: right;
}

body {
	background-image: url(background.jpg);
	background-size: cover;
}

h2, p {
	color: #257352;
	text-align: center;
	border: 5px dashed rgba(113, 173, 147, 0.5);
	cursor: pointer;
}

p {
	line-height: 50px;
	font-style: italic;
	font-weight: bold;
	font-size: 300%;
	font-family: "Poiret One", "Times New Roman", Georgia;
}

img {
	float: left;
}

footer {
	clear: both;
	text-align: center;
}

li {
	list-style: none;
	color: #469070;
	display: inline-block;
}

.webtext {
	border: 5px green;
}

#div1 {
	background: rgba(0, 0, 255, 0.5);
}

#div2 {
	background: rgba(255, 0, 0, 0.5);
}

